.heading{
	border-style: solid;
	border-color: black;
	border-radius: 10px;
}
.heading img{
	width: 10%;
	height: 9%;
	padding: 4px 4px 4px 4px;
}
.heading h2{
	font-size: 45px;
	padding-left: 500px;
}
body{
	background-color: powderblue;
}
.heading {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
.container{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

.container div{
	border-style: solid;
	width: 30%;
	padding: 1%;
	text-align: center;

}
.container div img{
	width:100%;
}
.container div p{
	font-size: 20px;
}
.container div{
	background-color: black;
	color: white;

}
.container div:hover{
	background-color: powderblue;
	color:black;
}
.footer {
	border-radius: 5px;
	border-style: solid;
	text-align: center;
	background-color: hotpink;
}
.container div button{
	background-color: orange;
	color: black;
	width: 100px;
	height: 30px;
	font-size: 15px;
}
